* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #E55473;
    border: none;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.section-title {
    text-align: center;
    color: #272727;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    text-align: center;
    color: #757575;
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
}

/* Header Styles */
.header {
    background-color: #f5eaed;
    padding: 25px;
    padding-bottom: 0px;
    align-items: center;
}


/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 0px 50px;
}

.banner-title {
    font-size: 45px;
}

.banner-content {
    max-width: 590px;
    padding: 65px;
    align-items: center;
}

.banner-description {
    color: #272727;
    font-size: 16px;
    margin: 25px 0;
}

.banner-img {
    width: 438px;
}


/* Featured Styles */
.featured {
    margin: 120px;
}

.features-items {
    display: flex;
    padding: 35px 0px;
    gap: 15px;
    align-items: center;
    text-align: center;
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
}

.features-item {
    padding: 18px;
}

.features-img {
    padding: 50px 55px 0px 55px;
    height: 250px;
    margin-bottom: 25px;
}

.features-img-1 {
    background-color: #F2DEE7;    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 276px;
}

.features-img-2 {
    background-color: #D9EFF1;    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 276px;
    width: 215px;
}

.features-img-3 {
    background-color: #E3EBDB;    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 276px;
}

.features-img img {
    width: 200px;
}

.features-img-2 img {
    width: 250px;
}

.features-img-3 img {
    width: 185px;
}

.features-item a {
    color: #272727;
    font-weight: 600;
}

/* Special Styles */
.special {
    background-color: #F4F4F4;
    display: flex;
    gap: 60px;
    width: 881px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 75px;
    align-items: center;
    justify-content: center;
}

.special-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-description {
    margin-top: 10px;
}

.special-img {
    width: 70px;
}



